@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GummiBearKingdom.Models.Gummi>

<h2>Gummi Bear Kingdom</h2>
@Html.ActionLink("Home", "index", "Home") | @Html.ActionLink("Create New", "Create")
<hr>
<div class="row">
    @foreach (var gummi in Model)
    {
        
        <div class="col-md-3">
            <strong>@Html.ActionLink((string)@gummi.Name, "Details", new { id = gummi.GummiId })</strong>
            <br>
            <img src="@Html.DisplayFor(modelItem => gummi.Image)"/>
        </div>
    }
</div>