@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the To Do List!</h2>
<img src="~/img/gummy.jpg" alt="Sample Photo" />
<hr>

@Html.ActionLink("Gummi List", "index", "Gummies")

<h3>Decriptions</h3>
<p>Welcome to Gummi Baer Kingdom where the gummies are made the with happiness</p>